<div class="sidebar">
  <div class="logo-container">
    <img src="/HRMS/images/assets/logo.png" alt="Logo">
  </div>

  <a href="/HRMS/templates/dashboard/dashboard.html" data-label="Dashboard">
    <span class="material-symbols-outlined">dashboard</span>
  </a>
  <a href="/HRMS/templates/employee/employee.html" data-label="Employees">
    <span class="material-symbols-outlined">group</span>
  </a>
  <a href="#" data-label="Departments">
    <span class="material-symbols-outlined">business</span>
  </a>
  <a href="#" data-label="Settings">
    <span class="material-symbols-outlined">settings</span>
  </a>

  <div class="logout-section">
    <a href="#" class="logout-link" data-label="Logout">
      <span class="material-symbols-outlined">logout</span>
    </a>
  </div>
</div>
