<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sidebar</title>
    <link rel="stylesheet" href="../../style/sidebar.css" />
    <link rel="icon" href="../../images/assets/logo.png">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
    />
  </head>
  <body>
    <!-- Sidebar -->
    <div class="sidebar" id="sidebar">
      <div class="logo-container">
        <img src="../../images/assets/logo.png" alt="Logo" />
      </div>
      <h2>Hyacinth-HRMS</h2>
      <a href="../dashboard/dashboard.php">
        <span class="material-symbols-outlined">home</span> Dashboard
      </a>
      <a href="../employee/employee.php">
        <span class="material-symbols-outlined">group</span> Employees
      </a>
      <a href="#">
        <span class="material-symbols-outlined">bar_chart</span> Departments
      </a>
      <a href="#">
        <span class="material-symbols-outlined">settings</span> Settings
      </a>

      <!-- Logout Link -->
      <div class="logout-section">
        <a href="../../index.php" class="logout-link">
          <span class="material-symbols-outlined">logout</span> Logout
        </a>
      </div>
    </div>
  </body>
</html>
