@import url(style.css);



/* Sidebar */
.sidebar {
  width: 200px;
  background-image: linear-gradient(to right, #242424, #801100);
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  z-index: 1000;
  color: white;
  transition: transform 0.3s ease; /* Smooth sliding */
}

.logo-container img{
  width: 50px;
  height: 50px;
}

.sidebar .logo-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar h2 {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 16px;
}

/* Sidebar links with icons */
.sidebar a {
  display: flex;
  align-items: center;
  gap: 10px; /* space between icon and text */
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  transition: background 0.3s;
}

.sidebar a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.material-symbols-outlined {
  font-size: 20px;
}

.logout-section {
  margin-top: auto;
  padding: 1rem;
  border-top: 1px solid #ccc;
}

.logout-link {
  display: flex;
  align-items: center;
  color: #e74c3c;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.2s ease;
}

.logout-link:hover {
  background-color: #fbeaea;
  border-radius: 6px;
  padding-left: 0.5rem;
}

.logout-link .material-symbols-outlined {
  margin-right: 8px;
  color: #e74c3c;
}
