@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  background-image: linear-gradient(
    to right,
    #ffffff 0%,
    #000000 50%,
    #801100 100%
  );

  font-family: "Lexend", sans-serif;
}

.wrap-container {
  margin-left: 90px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 20px;
  flex: 1;
  border-style: solid;
  background-color: #f8f8f8;
  min-height: calc(100vh - 40px);
  border-radius: 20px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.05);
  overflow-y: auto;

  /* Hide scrollbar for WebKit and others */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.wrap-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
